<h2>Current Round</h2>

<div class="example-container">
    <h2>From the past round</h2>

    <div
    cdkDropList
    #previousRound="cdkDropList"
    [cdkDropListData]="misses"
    [cdkDropListConnectedTo]="[nextRound]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let miss of misses" cdkDrag>{{miss.region}}</div>
    </div>
</div>

<div class="example-container">
    <h2>Prognostic for next round</h2>

    <div
    cdkDropList
    #nextRound="cdkDropList"
    [cdkDropListData]="missesNextRound"
    [cdkDropListConnectedTo]="[previousRound]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let miss of missesNextRound" cdkDrag>{{miss.region}}</div>
    </div>
</div>